.VacationsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}
.VacationsList-links {
  display: flex;
  gap: 15px;
}
.VacationsList-vacations {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
