@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.NewVacationForm-header {
  position: relative;
  text-align: center;
  color: white;
}

.NewVacationForm-inner-header {
  height: 95vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.NewVacationForm-flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
