.PageLayout {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

.PageLayout > header {
  height: 5vh;
  width: 100%;
}
.PageLayout > main {
  width: 100vw;
  margin: auto 0;
}
