.PageLayout {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageLayout > header {
  height: 3vh;
  margin: 0 auto;
}
.PageLayout > main {
  width: 100vw;
  margin: auto 0;
}
